* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}

body {
  color: #000;
}

.container {
  width: min(90%, 900px);
  margin: 0 auto;
  /*display: flex;
  flex-direction: column;

  background: #123123 url('../images') center top/ no-repeat;*/
  /* background-color: #123123;
  background-image: url('');
  background-position: center top;
  background-repeat: no-repeat; 

  background-size: 1000px 200px;*/
  background-image: linear-gradient(to right, red, green, blue);
}

.container {
  width: min(90%, 1160px);
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  background: lightblue;
}

.box, .box-secondary {
  width: 200px;
  height: 200px;
  border: 20px solid blue;
}

.box-secondary {
  background-color: lightblue;
  width: 380px;
}

.wrapper {
  display: flex;
}

.col {
  flex-basis: calc(50% -30px);
  background-color: lightgreen;
  height: 300px;
}
.col-left {
  margin-left: 100px;
}
.col .col-left {
  margin-left: 82px;
}