body {
    padding: 50px 50px;
}
form {
    background-color: #e2efff;
    padding: 30px 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

form label {
    margin-bottom: 10px;
    
  }
  form input {  
    margin-bottom: 10px;
  }