div {
    padding: 20px 30px 40px 50 px;
    
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50 px;

    border: 10px solid #123456;
    border-left: 10px solid  blue;
    border-width: 2px;
    border-bottom: 50px solid blue;
    border-left: 50px solid red;
    border-right: 20px transparent;


}
div {
    padding-left: 10px;
}

body {
    background-color: rgb(201, 201, 247);
}