* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: top;
    
}

ul li {
    list-style-type: none;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #070707;
    font-size: 1.125rem;
    text-align: center;
}

.container {
    width: min(90%, 970px);
    margin-inline: auto; 
}


header .container {
    padding: 27.5px 0;
    border-bottom: 1px solid #828282;
}

.main-menu ul {
    text-align: center;
    font-size: 0;
    
}

.main-menu ul li {
    display: inline-block;
    margin-right: 40px;
}

.main-menu ul li + li {
    margin-left: 40px;

}

.main-menu ul li a {
    font-size: 1.125rem;
    color: #828282;
    text-decoration: none;
    display: inline-block;
}

.main-menu ul li a:hover,
.main-menu ul li a:active {
    color: #070707;
    text-shadow: 0 0 1px #070707; 
    transform: scale(01.125rem);
}



.first-section {
    padding-top: 12px;
}

h1 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 50px;
}

.hero-img,
.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


section, footer {
    padding: 100px 0;
} 

.bg-gray {
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    font-size: 2.125rem;
    margin-bottom: 50px;
}

.content {
    max-width: 480px;
    margin-inline: auto;
    
}

.content p + p {
    margin-top: 30px;
}

hgroup {
    margin-bottom: 50px;
}

hgroup h2 {
    margin-bottom: 20px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    font-size: 0;
    margin-left: -1px;
}

.skills-list li {
    display: inline-block;
    width: 170px;
}
 

.skills-list li:not(:last-child) {
    margin-right: 97px;
}

.skills-list li img {
    margin-bottom: 25px;
}

.skills-list li .skill-title {
    color:#828282;
    font-size: 0.875rem;
    letter-spacing: 0.0174rem;
    margin-bottom: 60px;
    font-weight: 700;
    padding: 0 30px;
    min-height: 38px;
}


.rating img:not(:last-child) {
    margin-right: 7px;
}

.rating img.gray {
    opacity: 0.2;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 70px;
}

.portfolio-item img {
    margin-bottom: 40px;
}

.portfolio-item div {
    max-width: 260px;
    margin-inline: auto; 
}

.portfolio-item div a {
    color: #070707;
}

.portfolio-item div a:hover {
    text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #070707;
  line-height: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 22px;
  padding: 5px 16px;
  min-width: 80px;
  border: 2px solid #070707;
  font-weight: 700;
  letter-spacing: 0.1123rem;
}

.btn:hover {
    color:#070707;
    background-color: #fff;
}

.btn-wrap {
    margin-bottom: 40px;
}

.soc-list {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 0;
}

.soc-list li {
    display: inline-block;
}

.soc-list li:not(:last-child) {
    margin-right: 50px;
}

.soc-list a {
    opacity: 0.7;
}

.soc-list a:hover {
    opacity: 1;
}


.soc-list img {
    width: 40px;
}


footer .container {
    width: min(90%, 310px);
}

footer hgroup p {
    padding: 0 10px;
}

footer > div > p {
    color: #828282;
    font-size: 0.875rem;
    padding: 0 10px;
}




























